// PRIMARY NEXTFLOW.CONFIG
// This file contains all default parameters, profiles, pipeline metadata

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false
	take = 10
	fork = 10

	// INPUT / OUTPUT
	input           = false
	samples         = false
	output          = "ewas"
	DMPs            = false
	DMRs            = false
	SNPs            = false
	extension		= "vcf.gz"

	// MODIFIERS
	merge           = false
	Emodel          = false
	Gmodel          = false
	GxE             = false
	all             = false  
	GOA             = false
	fragaria        = false
	populus         = false
	thlaspi         = false

	// METHYLATION CONTEXT
	noCpG = false
	noCHG = false
	noCHH = false

	// FILTERING
	coverage        = 0
	proportion      = 0.2
	distance        = 5000
	filter_SD       = 0.0
	filter_NA       = 0.0
	filter_FDR      = 0.05
	output_FDR      = 0.05
	
	//p_values
	Emodel_pv       = 1
	Gmodel_pv       = 1
	GxE_pv          = 1
	
	//SNP filtering
	max_missing     = 0.5
	mac             = 3
	minQ            = 30
	
	//graphs
	kplots          = 10
	
	// SNP imputation
	burnin          = 6
	iters           = 12
	phase_states    = 280
	imp_states      = 1600
	ne              = 1000000
	nthreads_SNP    = 4


}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'epidiverse/ewas'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'epidiverse/ewas'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile epi
	epi {
		includeConfig "${baseDir}/config/base.config"
		process.conda='/scr/epi/pipelines/ewas/libs/ewas'
		process.executor='slurm'
		process.queue='crunch'
		includeConfig "${baseDir}/config/epidiverse.config"
	}

	// -profile diverse
	diverse {
		includeConfig "${baseDir}/config/base.config"
		process.conda='/scr/epi/pipelines/ewas/libs/ewas'
		process.executor='slurm'
		process.queue='test'
		includeConfig "${baseDir}/config/epidiverse.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}


// NEXTFLOW MANIFEST
manifest {
	homePage = "https://github.com/epidiverse/ewas"
	author = "Adam Nunn"
	description = "A template for building bioinformatics pipelines in Nextflow"
	mainScript = "main.nf"
	version = "0.1.0dev"
	nextflowVersion = "19.09+"
}


// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	file = "${params.output}/trace.txt"
}
