// base.config
// use this config file to modify process resource allocation

// PROCESS RESOURCES
process {

	// top-level configuration labels for groups of processes
	withLabel: "low" {
    	time = { 2.h * task.attempt }
    	memory = { 2.GB * task.attempt }
    	cpus = { 2 * task.attempt }
	}

	withLabel: "high" {
    	time = { 16.h * task.attempt }
    	memory = { 24.GB * task.attempt }
    	cpus = { 8 * task.attempt }
	}

	// label processes which should kill the pipeline if they fail
	withLabel: "finish" {
		errorStrategy = { sleep(Math.pow(2, task.attempt) * 100 as long); (task.attempt == process.maxRetries ? 'finish' : 'retry') }
		maxRetries = { task.exitStatus in [140,141,143,137,104,134,139] ? 3 : 2 }
	}

	// label processes which can be safely ignored if they fail
	withLabel: "ignore" {
		errorStrategy = { sleep(Math.pow(2, task.attempt) * 100 as long); (task.attempt == process.maxRetries ? 'ignore' : 'retry') }
		maxRetries = { task.exitStatus in [140,141,143,137,104,134,139] ? 3 : 2 }
	}


	// configuration for bedtools_unionbedg
	withName: "bedtools_unionbedg" {
	
		// label 'low'
		// label 'finish'
		time = { 6.h * task.attempt }
		maxRetries = { task.exitStatus in [140,141,143,137,104,134,139] ? 6 : 2 }
	}
	
}
