// base.config
// use this config file to modify process resource allocation

// PROCESS RESOURCES
process {

	// top-level configuration labels for groups of processes
	withLabel: "low" {
    	time = { 1.h * Math.pow(2, task.attempt) }
    	memory = { 1.GB * Math.pow(2, task.attempt) }
    	cpus = 2
	}

	withLabel: "high" {
    	time = { 4.h * Math.pow(2, task.attempt) }
    	memory = { 8.GB * Math.pow(3, task.attempt) }
    	cpus = { 8 * task.attempt }
	}

	// label processes which should kill the pipeline if they fail
	withLabel: "finish" {
		maxRetries = 3
        errorStrategy = { if(task.exitStatus in [140,141,143,137,104,134,139]){
				task.attempt > 3 ? return 'finish' : return 'retry'
			} else {
				sleep(Math.pow(2, task.attempt) * 1000 as long);
				task.attempt > 1 ? return 'finish' : return 'retry'
			}
		}
	}

	// label processes which can be safely ignored if they fail
	withLabel: "ignore" {
       errorStrategy = { task.exitStatus in [140,141,143,137,104,134,139] ?
			(task.attempt > 3 ? 'ignore' : 'retry') :
			sleep(Math.pow(2, task.attempt) * 1000 as long); task.attempt > 1 ? 'ignore' : 'retry'}
        maxRetries = 3

	}


	// configuration for bedtools_unionbedg
	withName: "bedtools_unionbedg" {
	
		// label 'low'
		// label 'finish'
		time = 10.s
		//time = { 3.h * Math.pow(2, task.attempt) }
	}
	
}
