/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/ewas -profile test
 */


params {

    samples = "https://github.com/epidiverse/datasets/raw/ewas/samples.tsv"

	input           = "test profile"
	DMPs            = "test profile"
	DMRs            = "test profile"
	SNPs            = "test profile"
	output          = "ewas"

	merge           = false
	all             = true

	noCpG           = false
	noCHG           = false
	noCHH           = true

	coverage        = 5
	kplots          = 5

    // set CpGPaths parameter (only available in test profile)
    CpGPaths = [
    ['sample1', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample1_CpG.bedGraph'],
    ['sample2', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample2_CpG.bedGraph'],
    ['sample3', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample3_CpG.bedGraph'],
    ['sample4', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample4_CpG.bedGraph'],
    ['sample5', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample5_CpG.bedGraph'],
    ['sample6', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample6_CpG.bedGraph']
    ]

    // set CHGPaths parameter (only available in test profile)
    CHGPaths = [
    ['sample1', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample1_CHG.bedGraph'],
    ['sample2', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample2_CHG.bedGraph'],
    ['sample3', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample3_CHG.bedGraph'],
    ['sample4', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample4_CHG.bedGraph'],
    ['sample5', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample5_CHG.bedGraph'],
    ['sample6', 'https://github.com/epidiverse/datasets/raw/ewas/wgbs/sample6_CHG.bedGraph']
    ]

    // set CpGPaths_DMRs parameter (only available in test profile)
    CpGPaths_DMRs = [
    ['group1_vs_group2', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CpG/group1_vs_group2.bed'],
    ['group1_vs_group3', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CpG/group1_vs_group3.bed'],
    ['group2_vs_group3', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CpG/group2_vs_group3.bed']
    ]

    // set CHGPaths_DMRs parameter (only available in test profile)
    CHGPaths_DMRs = [
    ['group1_vs_group2', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CHG/group1_vs_group2.bed'],
    ['group1_vs_group3', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CHG/group1_vs_group3.bed'],
    ['group2_vs_group3', 'https://github.com/epidiverse/datasets/raw/ewas/dmrs/CHG/group2_vs_group3.bed']
    ]

    // set SNPPaths parameter (only available in test profile)
    SNPPaths = [
    ['sample1', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample1.vcf.gz'],
    ['sample2', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample2.vcf.gz'],
    ['sample3', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample3.vcf.gz'],
    ['sample4', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample4.vcf.gz'],
    ['sample5', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample5.vcf.gz'],
    ['sample6', 'https://github.com/epidiverse/datasets/raw/ewas/snps/sample6.vcf.gz']
    ]

}
